html{
  font-size:62.5%;
  box-sizing:border-box;
}
body{
  margin:0;
}
header,main{
  border: solid 0.8rem gray;
}
ul{
  list-style: none;
  padding: 0;
}
header ul{
  display: flex;
  justify-content: space-between;
}
header li{
    padding: 1rem;
}
header img{
  border-radius: 100%;
}
header i{
  font-size: 4.5rem;
  margin: 0 1rem;
}
.recette>ul{
  display: flex;
}
.gauche{
  border-right: 0.8rem solid gray;
  border-radius: 1rem 1rem 0 0;
}
p{
  font-size: 1.6rem;
}